$block-form: (
  horizontal-spacing: $base-gutter-size,
);

.block-form {
  display: block;
  margin: 0;
  overflow: visible;

  .editor-block-list__layout {
    margin: {
      left: -(map-get-strict($block-form, horizontal-spacing));
      right: -(map-get-strict($block-form, horizontal-spacing));
    }
  }
}
