.es-checkbox {
	$this: &;
	--es-checkbox-scoped-icon-size: 18px;

	margin-bottom: var(--es-checkbox-scoped-spacing, 10px);

	&:last-child {
		--es-checkbox-scoped-spacing: 0;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__input {
		appearance: none;
	}

	&__input:checked + #{$this}__label::after {
		--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
		--es-checkbox-scoped-background-color: var(--global-colors-es-matisse);
	}

	&__input:focus + #{$this}__label::after {
		--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
	}

	&__input:disabled + #{$this}__label::after {
		--es-checkbox-scoped-opacity: 0.7;
	}

	&__input:disabled:checked + #{$this}__label::after {
		--es-checkbox-scoped-opacity: 0.7;
	}

	&__label {
		position: relative;
		padding-left: calc(var(--es-checkbox-scoped-icon-size) + 10px);
		min-height: var(--es-checkbox-scoped-icon-size);
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			opacity: var(--es-checkbox-scoped-opacity, 1);
			background-color: var(--es-checkbox-scoped-background-color, transform);
			border: 1px solid var(--es-checkbox-scoped-border-color, var(--global-colors-es-chalice));
			width: var(--es-checkbox-scoped-icon-size);
			height: var(--es-checkbox-scoped-icon-size);
			transition: {
				property: background-color, border-color;
				timing-function: ease-in-out;
				duration: 0.3s;
			}
		}

		&:hover::after {
			--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
		}
	}
}
