.es-checkbox,
.es-checkbox-toggle {
	margin-bottom: var(--es-checkbox-scoped-spacing, 10px);

	&:last-child {
		--es-checkbox-scoped-spacing: 0;
	}

	&__input {
		// Important because if hidden focus/blur is not working.
		position: absolute;
		left: -99999px;
	}
}

// Regular.
.es-checkbox {
	$this: &;

	--es-checkbox-scoped-icon-size: 18px;

	&__content {
		display: flex;
		align-items: center;
	}

	&__input:checked + #{$this}__label::before {
		--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
		--es-checkbox-scoped-background-color: var(--global-colors-es-matisse);
	}

	&__input:focus + #{$this}__label::before {
		--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
	}

	&__input:disabled + #{$this}__label::before,
	&__input:disabled:checked + #{$this}__label::before {
		--es-checkbox-scoped-border-color: var(--global-colors-es-matisse-30);
		--es-checkbox-scoped-background-color: var(--global-colors-es-matisse-30);
	}

	&__label {
		position: relative;
		padding-left: calc(var(--es-checkbox-scoped-icon-size) + 10px);
		min-height: var(--es-checkbox-scoped-icon-size);
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			opacity: var(--es-checkbox-scoped-opacity, 1);
			background-color: var(--es-checkbox-scoped-background-color, transform);
			border: 1px solid var(--es-checkbox-scoped-border-color, var(--global-colors-es-chalice));
			width: var(--es-checkbox-scoped-icon-size);
			height: var(--es-checkbox-scoped-icon-size);
			transition: {
				property: background-color, border-color;
				timing-function: ease-in-out;
				duration: 0.3s;
			}
		}

		&:hover::before {
			--es-checkbox-scoped-border-color: var(--global-colors-es-matisse);
		}
	}
}

// Toggle.
.es-checkbox-toggle {
	$this: &;

	--es-checkbox-toggle-scoped-height: 20px;
	--es-checkbox-toggle-scoped-width: calc(var(--es-checkbox-toggle-scoped-height) * 2);
	--es-checkbox-toggle-scoped-label-spacing: 10px;
	--es-checkbox-toggle-scoped-dot-spacing: 4px;
	--es-checkbox-toggle-scoped-dot-size: calc(var(--es-checkbox-toggle-scoped-height) - var(--es-checkbox-toggle-scoped-dot-spacing));
	--es-checkbox-toggle-scoped-dot-hover: 5px;

	&--medium {
		--es-checkbox-toggle-scoped-height: 30px;
		--es-checkbox-toggle-scoped-dot-spacing: 6px;
		--es-checkbox-toggle-scoped-label-spacing: 15px;
	}

	&--big {
		--es-checkbox-toggle-scoped-height: 40px;
		--es-checkbox-toggle-scoped-dot-spacing: 6px;
		--es-checkbox-toggle-scoped-label-spacing: 20px;
	}

	&__label {
		cursor: pointer;
		position: relative;
		min-height: var(--es-checkbox-toggle-scoped-height);
		display: flex;
		align-items: center;
		min-width: var(--es-checkbox-toggle-scoped-width);

		&:hover::after {
			width: calc(var(--es-checkbox-toggle-scoped-dot-size) + var(--es-checkbox-toggle-scoped-dot-hover));
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: var(--es-checkbox-toggle-scoped-width);
			height: var(--es-checkbox-toggle-scoped-height);
			background-color: var(--global-colors-es-chalice);
			border-radius: 100px;
		}

		&::after {
			content: '';
			position: absolute;
			top: calc(var(--es-checkbox-toggle-scoped-dot-spacing) / 2);
			left: calc(var(--es-checkbox-toggle-scoped-dot-spacing) / 2);
			width: var(--es-checkbox-toggle-scoped-dot-size);
			height: var(--es-checkbox-toggle-scoped-dot-size);
			background-color: var(--global-colors-es-white);
			border-radius: 90px;
			transition: {
				property: background-color, width, transform;
				timing-function: ease-in-out;
				duration: 0.25s;
			}
		}
	}

	&__label-inner {
		display: block;
		padding-left: calc(var(--es-checkbox-toggle-scoped-width) + var(--es-checkbox-toggle-scoped-label-spacing));
	}

	&__input:checked {
		& + #{$this}__label {
			&::before {
				background-color: var(--global-colors-es-matisse);
			}

			&:hover::after {
				transform: translateX(calc(var(--es-checkbox-toggle-scoped-width) - (var(--es-checkbox-toggle-scoped-dot-spacing)) - var(--es-checkbox-toggle-scoped-dot-size) - var(--es-checkbox-toggle-scoped-dot-hover)));
			}
		}

		& + #{$this}__label::after {
			transform: translateX(calc(var(--es-checkbox-toggle-scoped-width) - (var(--es-checkbox-toggle-scoped-dot-spacing)) - var(--es-checkbox-toggle-scoped-dot-size)));
		}
	}

	&__input:disabled + #{$this}__label::before,
	&__input:disabled:checked + #{$this}__label::before {
		background-color: var(--global-colors-es-matisse-30);
	}
}
