// .es-global-msg {
// 	color: var(--global-colors-esf-white);
// 	background-color: var(--global-colors-esf-admin-accent);
// 	display: none;

// 	&[data-status='error'] {
// 		background-color: var(--global-colors-esf-red-500);
// 	}

// 	span {
// 		margin-bottom: 20px;
// 		padding: 20px;
// 		display: block;
// 	}

// 	&.is-active {
// 		display: block;
// 	}
// }
