.es-settings-section {
	$this: &;
	padding: var(--global-es-spacing-horizontal) var(--global-es-spacing-vertical) 0 0;

	&--with-sidebar {
		display: grid;
		column-gap: var(--global-es-spacing-vertical);
		grid-template-columns: 20% auto;
	}

	&__section {
		background-color: var(--global-colors-es-white);
		border: 1px solid var(--global-colors-es-french);
	}

	&__heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--global-es-spacing-horizontal) var(--global-es-spacing-vertical);
		border-bottom: 1px solid var(--global-colors-es-french);
	}

	&__heading-title {
		font-size: 22px;
		font-weight: bold;
	}

	&__content {
		padding: 0 var(--global-es-spacing-horizontal);
	}

	&--reset-spacing {
		margin-left: calc(var(--global-es-spacing-horizontal) * -1);
		margin-right: calc(var(--global-es-spacing-horizontal) * -1);
	}

	&__description {
		font-size: 13px;
		color: var(--global-colors-es-boulder);
		border-bottom: 1px solid var(--global-colors-es-french);
		padding: var(--global-es-spacing-vertical) var(--global-es-spacing-horizontal);

		&--with-spacing {
			margin-bottom: var(--global-es-spacing-vertical);
		}
	}

	&__link {
		text-decoration: none;
		color: var(--global-colors-es-chalice);
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.2s;
		}
	}

	&__actions {
		> * {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid var(--global-colors-es-french);

			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border: none;
			}
		}
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__menu-item {
		margin: 0;
		&:last-child {
			#{$this}__menu-link {
				border-bottom: none;
			}
		}
	}

	&__menu-link {
		padding: 10px var(--global-es-spacing-vertical);
		border-bottom: 1px solid var(--global-colors-es-french);
		display: block;
		text-decoration: none;
		color: var(--global-colors-es-boulder);
		transition: {
			property: color, background-color;
			timing-function: ease-in-out;
			duration: 0.2s;
		}

		&:hover,
		&:hover:focus {
			color: var(--global-colors-es-matisse);
		}

		&--active,
		&--active:focus,
		&--active:hover {
			background-color: var(--global-colors-es-matisse);
			color: var(--global-colors-es-white);
		}
	}

	&__menu-link-icon {

	}
}
