.es-card-inline {
	$this: &;
	position: relative;
	transition: {
		duration: 0.3s;
		property: opacity;
		timing-function: ease-in-out;
	}

	&::before {
		background-color: var(--global-colors-esf-gray-50);
		border-radius: 0.5rem;
		content: '';
		inset: -0.5rem -1rem;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition: {
			duration: 0.3s;
			property: opacity, background-color;
			timing-function: ease-in-out;
		}
		z-index: -1;
	}

	&--invalid {
		opacity: 0.6;

		&::before {
			background-color: var(--global-colors-esf-red-50);
		}
	}

	&--indented {
		position: relative;
		padding-left: 2rem;

		&::after {
			content: '';
			position: absolute;
			left: 0.7rem;
			height: 100%;
			top: 0;
			border-left: 1px dotted var(--global-colors-esf-gray-300);
		}
	}

	&--use-hover {
		#{$this}__right-wrap {
			opacity: 0;
		}

		&:hover {
			opacity: 1;

			&::before {
				opacity: 0.85;
				z-index: 1;
			}

			#{$this}__right-wrap {
				opacity: 1;
			}
		}
	}

	&--use-divider {
		border-bottom: 1px solid var(--global-colors-esf-gray-200);
	}

	&--last {
		border-bottom: none;
	}

	&__icon {
		display: inline-flex;
		color: initial;
		transition: {
			duration: 0.3s;
			property: color;
			timing-function: ease-in-out;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&__title {
		font-size: 0.85rem;
		min-height: 1.5rem;
		display: inline-flex;
		align-items: center;
	}

	&__title-link {
		@extend %link-reset;
	}

	&__subtitle {
		color: var(--global-colors-esf-gray-400);
		font-size: 0.75rem;
	}

	&__content {
		color: var(--global-colors-esf-gray-400);
		font-size: 0.75rem;
		padding-top: 0.5rem;

		ul.is-list {
			display: grid;
			grid-gap: 0 1rem;

			@include media(tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media(desktop up) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 1rem;
	}

	&__left-wrap {
		z-index: 2;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	&__right-wrap {
		z-index: 2;
		min-height: 2.75rem;
		display: inline-flex;
		align-items: center;
		transition: {
			property: opacity;
			timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
			duration: 0.25s;
		}
	}

	.error-text {
		color: var(--global-colors-esf-red-500);
	}
}
