.es-field--file {
	.es-file {
		display: none;

		&__custom-wrap {
			@include input-styles-disabled;
			padding: 20px;
			border-radius: var(--global-esf-spacing-s);
			border: 1px solid var(--es-input-border-color);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: var(--global-colors-esf-gray-500);
			width: 100%;
		}

		&__button {
			@include submit-styles($size: 'medium');
			margin-top: 15px;
			display: inline-flex;
			width: initial;
		}
	}
}
