// stylelint-disable declaration-no-important

.es-field--file {
	.es-file {
		display: none;

		.es-field__inner {
			transition: {
				property: opacity;
				timing-function: var(--es-input-transition-timing);
				duration: var(--es-input-transition-duration);
			}
		}

		&__custom-wrap {
			cursor: pointer;
			padding: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			border: 1px dashed var(--es-input-border-color);
			transition: {
				property: background-color;
				timing-function: var(--es-input-transition-timing);
				duration: var(--es-input-transition-duration);
			}
		}

		&__info {
			text-align: center;
		}

		&__button {
			@include submit-styles($size: 'medium');
			margin-top: 15px;
			display: inline-flex;
			width: initial;
		}
	}

	&.dz-drag-hover {
		.es-file__custom-wrap {
			background-color: var(--global-colors-esf-gray-100);
		}
	}

	&.dz-max-files-reached {
		.es-field__inner {
			opacity: 0.5;
			pointer-events: none;
			cursor: default;
		}
	}

	.dz-preview {
		display: flex;
		align-items: center;
		position: relative;

		.dz-image {
			img {
				max-width: 100%;
				height: auto;
				display: block;
			}
		}

		.dz-details {
			display: flex;
			flex-direction: column;
			margin-left: 15px;
		}

		.dz-size {
			order: 2;
			margin-top: 5px;
		}

		.dz-filename {
			order: 1;
		}

		.dz-success-mark,
		.dz-error-message,
		.dz-progress,
		.dz-error-mark {
			display: none;
		}

		&.dz-error {
			padding-bottom: 20px;

			.dz-error-message {
				@include error-styles;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

		.dz-remove {
			margin-left: auto;
		}
	}
}
