// stylelint-disable declaration-no-important

.es-field--file {
	.es-file {
		display: none;

		.es-field__inner {
			transition: {
				property: opacity;
				timing-function: var(--es-input-transition-timing);
				duration: var(--es-input-transition-duration);
			}
		}

		&__custom-wrap {
			cursor: pointer;
			padding: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			border: 1px dashed var(--es-input-border-color);
			transition: {
				property: background-color;
				timing-function: var(--es-input-transition-timing);
				duration: var(--es-input-transition-duration);
			}
		}

		&__info {
			text-align: center;
		}

		&__button {
			@include submit-styles($size: 'medium');
			margin-block-start: 15px;
			display: inline-flex;
			inline-size: initial;
		}
	}

	&.dz-drag-hover {
		.es-file__custom-wrap {
			background-color: var(--global-colors-esf-gray-100);
		}
	}

	&.dz-max-files-reached {
		.es-field__inner {
			opacity: 0.5;
			pointer-events: none;
			cursor: default;
		}
	}

	.dz-preview {
		display: flex;
		align-items: center;
		position: relative;

		.dz-image {
			img {
				max-inline-size: 100%;
				block-size: auto;
				display: block;
			}
		}

		.dz-details {
			display: flex;
			flex-direction: column;
			margin-inline-start: 15px;
		}

		.dz-size {
			order: 2;
			margin-block-start: 5px;
		}

		.dz-filename {
			order: 1;
		}

		.dz-success-mark,
		.dz-error-mark {
			display: none;
		}

		.dz-progress {
			margin-block-start: calc(var(--base-font-size) * 0.5rem);

			span {
				--dz-progress-scoped-height: 4px; // px because there can be multiple items at one point.
				display: block;
				inline-size: 0;
				background-color: var(--global-colors-es-matisse);
				border-radius: var(--dz-progress-scoped-height);
				block-size: var(--dz-progress-scoped-height);
				transition: {
					property: background-color, width;
					timing-function: cubic-bezier(0.55, 0, 0.45, 1);
					duration: 1s;
				}

				@include media(large up) { // stylelint-disable-line max-nesting-depth
					--dz-progress-scoped-height: 6px;
				}
			}
		}

		&.dz-error {
			padding-block-end: 20px;

			.dz-error-message {
				@include error-styles;
				display: block;
				position: absolute;
				inset-inline-start: 0;
				inset-block-end: 0;
			}
		}

		.dz-remove {
			margin-inline-start: auto;
		}
	}
}
