.es-intro {
	$this: &;

	&--highlighted {
		background-color: var(--global-colors-es-matisse-05);
		padding: 20px;
		border-radius: 3px;
	}

	&--heading {
		border-bottom: 1px solid var(--global-colors-es-ebb);
		padding-bottom: 15px;
	}

	&__title {
		font-size: 24px;
		font-weight: 600;

		&--medium {
			font-size: 18px;
		}

		&--small {
			font-size: 16px;
		}
	}

	&__subtitle {
		margin-top: 0.5rem;
		font-size: 14px;
		line-height: 1.7;
		color: var(--global-colors-es-boulder);
		max-width: var(--global-es-max-width);

		&:first-child {
			margin-top: 0;
		}
	}

	a {
		color: var(--global-colors-es-matisse);
		text-decoration-style: dotted;
		text-underline-offset: 0.1em;
		text-decoration-thickness: 1px;
	}

	ul,
	ol {
		margin: 0;
		list-style-position: inside;
	}

	li {
		margin: 0;
	}
}
