.es-intro {
	$this: &;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&--with-icon {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: 'icon title' 'icon subtitle';

		&:has(#{$this}__title) {
			row-gap: 0.25rem;

			> svg {
				align-self: baseline;
			}
		}

		&:not(:has(#{$this}__title)) {
			row-gap: 0;

			> svg {
				align-self: center;
			}
		}

		column-gap: 0.75rem;

		#{$this}__title {
			margin-top: 0.3em;
		}

		> svg {
			grid-area: icon;

			color: var(--global-colors-esf-admin-accent);
		}
	}

	&__highlighted {
		border: 1px solid var(--global-colors-esf-admin-accent-30);
		background-color: var(--global-colors-esf-admin-accent-05);
		max-width: var(--global-esf-max-width);

		padding: 0.8rem 1rem;

		border-radius: 0.5rem;

		&--important {
			background-color: var(--global-colors-esf-red-100);
			border-color: var(--global-colors-esf-red-200);
			color: var(--global-colors-esf-red-500);

			flex-direction: row;
			align-items: center;

			box-shadow: 0 0.125rem 0.25rem var(--global-colors-esf-red-100);

			#{$this}__title,
			#{$this}__subtitle {
				color: var(--global-colors-esf-red-950);
			}
		}
	}

	&--heading {
		#{$this}__title {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.2;
			letter-spacing: -0.01em;
		}

		padding: var(--global-esf-spacing-l) var(--global-esf-spacing-s) var(--global-esf-spacing-m);
	}

	&__title {
		font-size: 1rem;
		max-width: var(--global-esf-max-width);
		letter-spacing: -0.01em;
		font-weight: 500;

		grid-area: title;

		&--medium {
			font-size: 1.25rem;
			letter-spacing: -0.005em;
		}

		&--small {
			font-size: 0.95rem;
			letter-spacing: 0;
		}
	}

	&__subtitle {
		font-size: 0.75rem;
		line-height: 1.25;
		color: var(--global-colors-esf-gray-500);
		max-width: var(--global-esf-max-width);

		grid-area: subtitle;

		display: inline-flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	a {
		color: var(--global-colors-esf-admin-accent);
		text-decoration-style: dotted;
		text-underline-offset: 0.1em;
		text-decoration-thickness: 1px;
	}

	ul {
		margin: 0;
	}

	li {
		list-style: initial;
		margin-left: 23px;
	}

	svg {
		flex-shrink: 0;

		height: 1.75rem;
		width: 1.7rem;
	}

	.is-filter-applied {
		background-color: var(--global-colors-esf-sky-50);
		border: 1px solid var(--global-colors-esf-sky-100);
		color: var(--global-colors-esf-sky-950);
		border-radius: var(--global-esf-spacing-s);
		padding: var(--global-esf-spacing-xs) var(--global-esf-spacing-s);

		width: fit-content;

		code {
			background: var(--global-colors-esf-white);
			color: var(--global-colors-esf-sky-950);

			font-size: 0.85em;
			padding: 0.1rem 0.15rem;
			border-radius: 3px;
			border: 1px solid var(--global-colors-esf-sky-100);
			margin: 0;
			vertical-align: middle;
		}

		summary {
			cursor: pointer;
		}
	}
}
