.es-block-custom-data {
	// Transparent overlay over the forms so the user can't click on them from the admin screen.
	&::after {
		content: '';
		background-color: transparent;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: all;
	}

	&--invalid {
		background-color: var(--global-colors-es-pome);
		color: var(--global-colors-es-white);
		width: 100%;
		padding: 50px;
		text-align: center;
	}
}
