.es-rating {
	$this: &;

	--es-rating-icon-size: 1.5rem;
	--es-rating-icon-spacing: 0.1rem;
	--es-rating-icon-color: var(--global-colors-esf-gray-300);
	--es-rating-icon-active-color: var(--global-colors-esf-yellow-500);

	display: inline-flex;
	align-items: center;
	position: relative;

	&:hover {
		#{$this}__star path {
			color: var(--es-rating-icon-active-color) !important; // stylelint-disable-line declaration-no-important
			fill: var(--es-rating-icon-active-color) !important; // stylelint-disable-line declaration-no-important
		}
	}

	&__star {
		display: flex;
		cursor: pointer;

		svg {
			padding: 0 var(--es-rating-icon-spacing);
			width: calc(var(--es-rating-icon-size) + calc(var(--es-rating-icon-spacing) * 2));
			height: calc(var(--es-rating-icon-size) + calc(var(--es-rating-icon-spacing) * 2));
		}

		path {
			color: var(--es-rating-icon-active-color);
			fill: var(--es-rating-icon-active-color);

			transition: {
				property: color, fill;
				timing-function: ease-out, cubic-bezier(0.34, 1.56, 0.64, 1);
				duration: 0.15s;
				delay: 0.05s;
			}
		}

		* {
			user-select: none !important; // stylelint-disable-line declaration-no-important
			pointer-events: none !important; // stylelint-disable-line declaration-no-important
		}

		&:hover ~ #{$this}__star path {
			color: var(--es-rating-icon-color) !important; // stylelint-disable-line declaration-no-important
			fill: var(--es-rating-icon-color) !important; // stylelint-disable-line declaration-no-important
		}
	}

	&[data-rating="0"] #{$this}__star path {
		color: var(--es-rating-icon-color);
		fill: var(--es-rating-icon-color);
	}

	@for $i from 1 through 10 {
		&[data-rating="#{$i}"] #{$this}__star[data-rating="#{$i}"] ~ #{$this}__star path {
			color: var(--es-rating-icon-color);
			fill: var(--es-rating-icon-color);
		}
	}

	&__input {
		display: none;
	}
}
