// stylelint-disable declaration-no-important

@import './input-style.scss';

.es-input {
	padding: 10px !important;
	border-color: var(--global-colors-es-chalice) !important;
	border-radius: 0 !important;

	&:focus {
		outline: none !important;
		box-shadow: none !important;
		border-color: var(--global-colors-es-matisse) !important;
	}

	&:disabled {
		background-color: var(--global-colors-es-alto);
		color: var(--global-colors-es-boulder);
		cursor: default;
	}
}
