@import './input-style.scss';

input.es-input {
	@include input-styles-editor;
}

// Collision with WPML.
input:disabled {
	background: rgba(255, 255, 255, 0.5) !important; // stylelint-disable-line declaration-no-important
	border-color: rgba(220, 220, 222, 0.75) !important; // stylelint-disable-line declaration-no-important
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4) !important; // stylelint-disable-line declaration-no-important
	color: rgba(44, 51, 56, 0.5) !important; // stylelint-disable-line declaration-no-important
}
