#
# Exclude these files from release archives.
# This will also make them unavailable when using Composer with `--prefer-dist`.
# https://blog.madewithlove.be/post/gitattributes/
#
/.git export-ignore
/.github export-ignore
/bin export-ignore
/.storybook export-ignore
/assets export-ignore
/storybook export-ignore
/tests export-ignore
/docs export-ignore
/.editorconfig export-ignore
/.eslintignore export-ignore
/.eslintrc export-ignore
/.gitignore export-ignore
/.stylelintrc export-ignore
/babel.config.js export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/phpstan.neon.dist export-ignore
/postcss.config.js export-ignore
/webpack.config.js export-ignore
/CODE_OF_CONDUCT.md export-ignore
/codeception.yml export-ignore
/travis.yml export-ignore
/phpunit.xml export-ignore
/patchwork.json export-ignore

composer.lock -diff
yarn.lock -diff
package.lock -diff

#
# Auto-detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files NOT found below
#
*.md text
*.php text
*.inc text
