<?xml version="1.0"?>
<ruleset name="Eightshift_Forms plugin.">
  <description>This is Eightshift_Forms plugin used for contact forms.</description>

  <file>.</file>

  <rule ref="Infinum"/>

  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>

  <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter.Found">
    <severity>0</severity>
  </rule>

  <rule ref="WordPress.WP.EnqueuedResourceParameters.NotInFooter">
    <severity>0</severity>
  </rule>

  <rule ref="WordPress.WP.GlobalVariablesOverride.OverrideProhibited">
    <severity>0</severity>
  </rule>

  <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter.FoundInImplementedInterfaceAfterLastUsed">
    <severity>0</severity>
  </rule>

  <rule ref="PHPCompatibility.FunctionDeclarations.NewParamTypeDeclarations.objectFound">
    <severity>0</severity>
  </rule>
</ruleset>
