<?xml version="1.0"?>
<ruleset name="Eightshift Forms plugin ruleset">
	<description>Eightshift Forms plugin ruleset.</description>

	<rule ref="Eightshift" />

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/vendor-prefixed/*</exclude-pattern>
	<exclude-pattern>*/public/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/storybook/*</exclude-pattern>

	<!-- Additional arguments. -->
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>

	<file>.</file>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP"/>

	<config name="minimum_supported_wp_version" value="6.1"/>

	<exclude-pattern>/src/CompiledContainer\.php</exclude-pattern>

	<rule ref="Generic.Files.LineLength">
		<exclude name="Generic.Files.LineLength.TooLong"/>
	</rule>

	<rule ref="Eightshift.Security.ComponentsEscape">
		<properties>
			<property name="overriddenClass" value="EightshiftFormsVendor\\EightshiftLibs\\Helpers\\Components"/>
			<property name="allowedMethods" type="array">
				<element key="render" value="render"/>
				<element key="outputCssVariables" value="outputCssVariables"/>
				<element key="checkAttr" value="checkAttr"/>
				<element key="renderPartial" value="renderPartial"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.DB.DirectDatabaseQuery">
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery"/>
	</rule>

	<rule ref="Universal.Operators.DisallowShortTernary">
		<exclude name="Universal.Operators.DisallowShortTernary"/>
	</rule>
</ruleset>
