<?xml version="1.0"?>
<ruleset name="Eightshift Forms plugin ruleset">
	<description>Eightshift Forms plugin ruleset.</description>

	<rule ref="Eightshift" />

	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/vendor-prefixed/*</exclude-pattern>
	<exclude-pattern>*/public/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/storybook/*</exclude-pattern>

	<!-- Additional arguments. -->
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>

	<file>.</file>

	<!-- Check for PHP cross-version compatibility. -->
	<config name="testVersion" value="8.2-"/>
	<rule ref="PHPCompatibilityWP"/>

	<config name="minimum_supported_wp_version" value="6.0"/>

	<exclude-pattern>/src/CompiledContainer\.php</exclude-pattern>

	<rule ref="Generic.Files.LineLength">
		<exclude name="Generic.Files.LineLength.TooLong"/>
	</rule>

</ruleset>
