/* stylelint-disable at-rule-no-unknown, selector-max-specificity */

@source '/src/*.{html,js,php,json,css}';
@source '/*.php';

@theme {
	--spacing: 0.0625rem; /* 1px */
	--default-font-family: var(--es-font-sans, 'Geist Variable', system-ui, sans-serif);
	--default-mono-font-family: var(--es-font-mono, 'Geist Mono Variable', ui-monospace, monospace);
	--color-*: initial;
	--color-black: #181818;
	--color-white: #ffffff;
	--color-accent: #29a3a3;
	--color-accent-dark: #218282;
	--color-accent-10: #29a3a31a;
	--color-accent-30: #29a3a333;
	--color-border: #dedede;
	--color-yellow-100: #fef3c7;
	--color-yellow-500: #eab308;
	--color-yellow-950: #451a03;
	--color-sky-100: #e0f2fe;
	--color-sky-500: #0ea5e9;
	--color-sky-950: #082f49;
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-600: #4b5563;
	--color-red-100: #fee2e2;
	--color-red-500: #ef4444;
	--color-red-950: #450a0a;
	--color-green-100: #dcfce7;
	--color-green-500: #22c55e;
	--color-green-950: #052e16;
}

.esf-focus-ring,
.esf-focus-ring a,
.esf-focus-ring button {
	@apply esf:focus:outline-2;
	@apply esf:focus:outline-offset-2;
	@apply esf:focus:outline-accent;
	@apply esf:focus:shadow-none;
	@apply esf:focus:rounded-md;
}

/* Frontend facing helpers */
.es-form-is-hidden {
	@apply esf:hidden!;
	@apply esf:pointer-events-none!;
}

.esf-button-disabled {
	@apply esf:opacity-50;
	@apply esf:cursor-not-allowed;
	@apply esf:pointer-events-none;
}

.esf-button {
	@apply esf:bg-transparent;
	@apply esf:inline-flex;
	@apply esf:cursor-pointer;
	@apply esf:text-nowrap;
	@apply esf:no-underline;
	@apply esf:items-center;
	@apply esf:justify-center;
	@apply esf:gap-10;
	@apply esf:rounded-md;
	@apply esf:p-10;
	@apply esf:text-sm;
	@apply esf:font-medium;
	@apply esf:border;
	@apply esf:duration-300;
	@apply esf:transition-colors;
	@apply esf:focus:outline-2;
	@apply esf:focus:outline-offset-2;
	@apply esf:focus:outline-accent;
	@apply esf:focus:shadow-none;
	@apply esf:focus:rounded-md;
	@apply esf:disabled:opacity-50;
	@apply esf:disabled:cursor-not-allowed;
	@apply esf:disabled:pointer-events-none;
}

.esf-button-primary {
	@apply esf:text-white;
	@apply esf:bg-accent;
	@apply esf:border-accent;
	@apply esf:hover:text-white;
	@apply esf:hover:bg-accent-dark;
	@apply esf:hover:border-accent-dark;
	@apply esf:active:text-white;
	@apply esf:active:bg-accent-dark;
	@apply esf:active:border-accent-dark;
	@apply esf:focus:text-white;
	@apply esf:focus:bg-accent-dark;
	@apply esf:focus:border-accent-dark;
	@apply esf:[&.is-active]:text-white;
	@apply esf:[&.is-active]:bg-accent-dark;
	@apply esf:[&.is-active]:border-accent-dark;
}

.esf-button-primary-outline {
	@apply esf:text-accent;
	@apply esf:border-accent;
	@apply esf:hover:text-white;
	@apply esf:hover:bg-accent-dark;
	@apply esf:hover:border-accent-dark;
	@apply esf:active:text-white;
	@apply esf:active:bg-accent-dark;
	@apply esf:active:border-accent-dark;
	@apply esf:focus:text-white;
	@apply esf:focus:bg-accent-dark;
	@apply esf:focus:border-accent-dark;
	@apply esf:[&.is-active]:text-white;
	@apply esf:[&.is-active]:bg-accent-dark;
	@apply esf:[&.is-active]:border-accent-dark;
}

.esf-button-primary-ghost {
	@apply esf:text-accent;
	@apply esf:border-transparent;
	@apply esf:hover:text-accent;
	@apply esf:hover:bg-accent-30;
	@apply esf:active:text-accent;
	@apply esf:active:bg-accent-30;
	@apply esf:focus:text-accent;
	@apply esf:focus:bg-accent-30;
	@apply esf:[&.is-active]:bg-accent-30;
}

.esf-button-secondary-ghost {
	@apply esf:text-inherit;
	@apply esf:border-transparent;
	@apply esf:hover:text-inherit;
	@apply esf:hover:bg-accent-30;
	@apply esf:active:text-inherit;
	@apply esf:active:bg-accent-30;
	@apply esf:focus:text-inherit;
	@apply esf:focus:bg-accent-30;
	@apply esf:[&.is-active]:bg-accent-30;
}

.esf-button-primary-basic {
	@apply esf:p-0;
	@apply esf:text-inherit;
	@apply esf:border-transparent;
	@apply esf:hover:text-inherit;
	@apply esf:active:text-inherit;
	@apply esf:focus:text-inherit;
	@apply esf:[&.is-active]:text-accent;
}
