.es-admin-listing {
	&__list {
		margin: 0;
	}

	&__list-item {
		border-bottom: 1px solid var(--global-colors-es-french);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px var(--global-es-spacing-horizontal);
		margin: 0;

		&:last-child {
			border-bottom: none;
		}
	}

	&__item-intro {
		display: flex;
		align-items: center;
	}

	&__label {
		font-size: 16px;
		text-decoration: none;
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.2s;
		}
	}

	&__item-status {
		background-color: var(--global-colors-es-alto);
		padding: 2px 5px;
		margin-left: 20px;
		font-weight: bold;
		font-size: 10px;
		letter-spacing: 1px;
	}
}
