.es-admin-listing {
	$this: &;

	&__list {
		margin: 0;
	}

	&__list-item {
		border-bottom: 1px solid var(--global-colors-es-ebb);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 var(--global-es-spacing-horizontal);
		margin: 0;
		transition: {
			property: background-color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}

		&:hover {
			background: linear-gradient(to right, var(--global-colors-es-matisse-10) 0%, transparent 85%);
		}

		&:first-child:last-child {
			border-bottom: none;
		}
	}

	&__item-intro {
		display: flex;
		align-items: center;
		flex: 1;
		margin-right: 15px;
	}

	&__label {
		padding: 13px 10px 13px 0;
		font-size: 16px;
		text-decoration: none;
		display: flex;
		width: 100%;
		align-items: center;
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}

		color: var(--global-colors-es-boulder);

		&:focus,
		&:hover {
			color: var(--global-colors-es-blumine);

			#{$this}__label-icon {
				color: var(--global-colors-es-blumine);
			}
		}

		&:focus {
			// stylelint-disable-next-line declaration-no-important
			box-shadow: none !important;

			span {
				outline: 1px solid var(--global-colors-es-matisse);
				border-radius: 3px;
				outline-offset: 3px;
				font-weight: 500;
			}
		}
	}

	&__label-icon {
		color: var(--global-colors-es-matisse);
		margin-right: 0.75rem;
		width: 1.5rem;
		height: 1.5rem;
	}

	&__item-status {
		font-size: 0.65rem;
		text-transform: uppercase;
		letter-spacing: 0.075em; // stylelint-disable-line number-max-precision

		border-radius: 3px;
		padding: 0.125rem 0.25rem;  // stylelint-disable-line number-max-precision

		color: var(--global-colors-es-chalice);
		background: var(--global-colors-es-chalice-05);
	}

	&__item-post-type {
		font-size: 0.65rem;
		text-transform: uppercase;
		letter-spacing: 0.075em; // stylelint-disable-line number-max-precision

		border-radius: 3px;
		padding: 0.125rem 0.25rem;  // stylelint-disable-line number-max-precision

		color: var(--global-colors-es-matisse);
		background: var(--global-colors-es-matisse-05);
	}
}
