.es-admin-listing {
	$this: &;

	&__top-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border-bottom: 1px solid var(--global-colors-esf-gray-300);
		margin: 0 -1.5rem;
		padding: 0 1.5rem 1.5rem;
	}

	&__top-bar-left,
	&__top-bar-right {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.es-checkbox {
			margin: 0;
		}
	}
}

.es-admin-listing__form {
	.es-loader {
		z-index: 10;

		svg {
			left: auto;
			top: auto;
			right: 1.25rem;
			bottom: 1.25rem;
			position: fixed;
			transform: none;
		}
	}

	.es-global-msg {
		z-index: 10;
	}
}
