.es-admin-listing {
	$this: &;

	&__list {
		margin: 0;
	}

	&__list-item {
		border-bottom: 1px solid var(--global-colors-es-ebb);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 var(--global-es-spacing-horizontal);
		margin: 0;
		transition: {
			property: background-color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}

		&:hover {
			background-color: var(--global-colors-es-alto);
		}
	}

	&__item-intro {
		display: flex;
		align-items: center;
		flex: 1;
		margin-right: 15px;
	}

	&__label {
		padding: 13px 10px 13px 0;
		font-size: 16px;
		text-decoration: none;
		display: flex;
		width: 100%;
		align-items: center;
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}
	}

	&__label-icon {
		margin-right: 10px;
	}

	&__item-status {
		background-color: var(--global-colors-es-alto);
		padding: 2px 5px;
		margin-left: 20px;
		font-weight: bold;
		font-size: 10px;
		letter-spacing: 1px;
	}

	&__item-post-type {
		background-color: var(--global-colors-es-matisse);
		color: var(--global-colors-es-white);
		padding: 2px 5px;
		margin-left: 20px;
		font-size: 10px;
		letter-spacing: 1px;
	}
}
