@mixin field-styles($useSpacing: 'true') {
	code {
		font-size: 0.85em;
		padding: 0.1rem 0.15rem;
		border-radius: 3px;
		background: var(--global-colors-esf-gray-50);
		color: var(--global-colors-esf-gray-500);
		border: 1px solid var(--global-colors-esf-gray-100);
		margin: 0;
		vertical-align: text-top;
	}

	&__help,
	&__before-content,
	&__after-content {
		.is-filter-applied,
		.is-debug-applied {
			margin-block-start: var(--global-esf-spacing-xs);
			background-color: var(--global-colors-esf-sky-50);
			border: 1px solid var(--global-colors-esf-sky-100);
			color: var(--global-colors-esf-sky-950);
			border-radius: var(--global-esf-spacing-s);
			padding: var(--global-esf-spacing-xs) var(--global-esf-spacing-s);
			inline-size: fit-content;

			code {
				background: var(--global-colors-esf-white);
				color: var(--global-colors-esf-sky-950);
				border-color: var(--global-colors-esf-sky-100);
			}

			&:is(span) {
				display: inline-block;
			}

			summary {
				cursor: pointer;
			}
		}

		.is-debug-applied {
			background-color: var(--global-colors-esf-red-50);
			border-color: var(--global-colors-esf-red-100);
		}
	}

	&__help {
		color: var(--global-colors-esf-gray-400);
		max-inline-size: var(--global-esf-max-width);
		font-size: 0.725rem;
		line-height: 1.6;

		@if $useSpacing == 'true' {
			margin-block-start: 0.5rem;
		}

		a {
			color: var(--global-colors-esf-admin-accent);
			text-decoration-style: dotted;
			text-underline-offset: 0.1em;
			text-decoration-thickness: 1px;
		}

		code {
			padding: 0.1rem 0.2rem;
		}

		ul {
			margin: 5px 0 0;
		}

		li {
			list-style: initial;
			margin-inline-start: 23px;
		}
	}
}
