@mixin form-styles() {
	& {
		margin: 0 auto;
		position: relative;
	}
}

@mixin form-width-limit-styles() {
	& {
		max-inline-size: 53.125rem;
		padding: 0 0.625rem;
	}
}

@mixin form-fields-mandatory-styles() {
	& {
		display: flex;
		flex-wrap: wrap;
	}
}

@mixin form-fields-styles() {
	& {
		margin-inline: calc(0.625rem * -1);
	}
}

@mixin form-fields-children-mandatory-styles() {
	& {
		flex: 0 0 var(--es-field-width, 100%);
		max-inline-size: var(--es-field-width, 100%);
	}
}

@mixin form-fields-children-styles() {
	& {
		padding-inline: 0.625rem;
		margin-block-end: 1.875rem;
	}
}

@mixin form-reset() {
	box-sizing: border-box;

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
}
