@mixin submit-styles($size: 'default') {
	$this: &;

	--submit-scoped-background-color: var(--global-colors-esf-admin-accent);
	--submit-scoped-spacing: calc(var(--es-input-spacing) * 1.5);

	@if $size == 'medium' {
		--submit-scoped-spacing: calc(var(--es-input-spacing));
	}

	font-weight: bold;
	inline-size: 100%;
	background-color: var(--submit-scoped-background-color);
	color: var(--global-colors-esf-white);
	padding: var(--submit-scoped-spacing, var(--es-input-spacing)) 20px;
	border: var(--submit-scoped-background-color);
	border-radius: var(--es-input-radius);
	cursor: pointer;
	text-decoration: none;

	transition: {
		property: background-color, box-shadow;
		timing-function: var(--es-input-transition-timing);
		duration: var(--es-input-transition-duration);
	}

	&:hover:not(:disabled) {
		--submit-scoped-background-color: var(--global-colors-esf-admin-accent-dark);
	}

	&:disabled {
		opacity: 0.6;
		cursor: default;
		pointer-events: none;
	}

	* {
		pointer-events: none;
	}
}
