@mixin checkbox-toggle-styles() {
	$this: &;

	&:last-child {
		--es-checkbox-toggle-scoped-spacing: 0;
	}

	--es-checkbox-toggle-scoped-height: 1.2rem;
	--es-checkbox-toggle-scoped-width: calc(var(--es-checkbox-toggle-scoped-height) * 2);
	--es-checkbox-toggle-scoped-label-spacing: 10px;
	--es-checkbox-toggle-scoped-dot-spacing: 0.1875rem;
	--es-checkbox-toggle-scoped-dot-size: calc(var(--es-checkbox-toggle-scoped-height) - 2 * var(--es-checkbox-toggle-scoped-dot-spacing));
	--es-checkbox-toggle-scoped-dot-hover: 0;

	&__input:focus-visible + &__label::before {
		box-shadow: 0 0 0 3px var(--global-colors-esf-admin-accent-50);
		border-color: var(--global-colors-esf-admin-accent);
	}

	&__input:checked:focus-visible + &__label::before {
		box-shadow: 0 0 0 1px var(--global-colors-esf-white), 0 0 0 4px var(--global-colors-esf-admin-accent-50);
	}

	&__label {
		cursor: pointer;
		position: relative;
		min-height: var(--es-checkbox-toggle-scoped-height);
		display: flex;
		align-items: center;
		min-width: var(--es-checkbox-toggle-scoped-width);

		&::before {
			content: '';
			position: absolute;
			right: 0;
			width: var(--es-checkbox-toggle-scoped-width);
			height: var(--es-checkbox-toggle-scoped-height);
			border-radius: 100vh;

			border: 1px solid var(--global-colors-esf-gray-400);

			transition: {
				property: background-color, box-shadow, border;
				timing-function: ease-out;
				duration: 0.3s;
			}
		}

		&::after {
			content: '';
			position: absolute;
			right: var(--es-checkbox-toggle-scoped-dot-spacing);
			width: var(--es-checkbox-toggle-scoped-dot-size);
			height: var(--es-checkbox-toggle-scoped-dot-size);
			background-color: var(--global-colors-esf-gray-400);
			border-radius: 100rem;

			transform: translateX(calc(var(--es-checkbox-toggle-scoped-dot-size) + 2 * var(--es-checkbox-toggle-scoped-dot-spacing) - var(--es-checkbox-toggle-scoped-width)));

			aspect-ratio: 1;

			transition: {
				property: background-color, transform;
				timing-function: linear, cubic-bezier(0.34, 1.56, 0.64, 1);
				duration: 0.05s, 0.25s;
			}
		}
	}

	&__label-inner {
		display: block;

		margin-right: calc(var(--es-checkbox-toggle-scoped-width) + 1rem);
	}

	&__input:checked {
		& + #{$this}__label {
			&::before {
				background-color: var(--global-colors-esf-admin-accent);

				border-color: var(--global-colors-esf-admin-accent);
			}

			&::after {
				background-color: var(--global-colors-esf-white);
				transform: translateX(0);
			}
		}
	}

	&__input:disabled + #{$this}__label::before,
	&__input:disabled:checked + #{$this}__label::before {
		background-color: var(--global-colors-esf-gray-100);
		border-color: var(--global-colors-esf-gray-200);
	}

	&__input:disabled + #{$this}__label::after,
	&__input:disabled:checked + #{$this}__label::after {
		background-color: var(--global-colors-esf-gray-400);
	}

	&__input {
		// Important because if hidden focus/blur is not working.
		position: absolute;
		left: -99999px;
	}

	@include field-styles('false');

	&__help {
		margin-right: calc(var(--es-checkbox-toggle-scoped-width) + 1rem);
		line-height: 1.25;
	}
}
