:root {
	--es-input-border-color: var(--global-colors-esf-gray-300);
	--es-input-disabled-background-color: var(--global-colors-esf-gray-100);
	--es-input-readonly-background-color: var(--global-colors-esf-gray-100);
	--es-input-placeholder-color: var(--global-colors-esf-gray-400);
	--es-input-spacing: 10px;
	--esf-input-height: 42px;
	--es-input-focus-border-color: var(--global-colors-esf-admin-accent);
	--es-input-transition-timing: ease-in-out;
	--es-input-transition-duration: 0.3s;
	--es-input-radius: var(--global-esf-spacing-s);
	--es-input-background-color: transparent;
}

@mixin input-styles(
	$loadReadonly: 'true',
	$loadDisabled: 'true',
	$loadFocus: 'true',
	$loadPlaceholder: 'true',
) {
	inline-size: 100%;
	max-inline-size: 100%;
	border: 1px solid var(--es-input-border-color);
	cursor: text;
	background-color: var(--es-input-background-color);
	block-size: var(--esf-input-height);
	padding: 0 var(--es-input-spacing);
	border-radius: var(--es-input-radius);
	transition: {
		property: border-color;
		timing-function: var(--es-input-transition-timing);
		duration: var(--es-input-transition-duration);
	}

	@if $loadFocus == 'true' {
		&:focus {
			@include input-styles-focus;
		}
	}

	@if $loadDisabled == 'true' {
		&:disabled {
			@include input-styles-disabled;
		}
	}

	@if $loadReadonly == 'true' {
		&:read-only {
			@include input-styles-read-only;
		}
	}

	@if $loadPlaceholder == 'true' {
		&::placeholder {
			@include input-styles-placeholder;
		}
	}
}

@mixin input-styles-focus {
	outline: none;
	box-shadow: none;
	border-color: var(--es-input-focus-border-color);
}

@mixin input-styles-read-only {
	background-color: var(--es-input-readonly-background-color);
}

@mixin input-styles-placeholder {
	color: var(--es-input-placeholder-color);
}

@mixin input-styles-disabled {
	cursor: default;
	background-color: var(--es-input-disabled-background-color);
}

@mixin input-styles-editor {
	background-color: var(--es-input-disabled-background-color) !important; // stylelint-disable-line declaration-no-important
	border-radius: var(--es-input-radius) !important; // stylelint-disable-line declaration-no-important
	padding: 0 var(--es-input-spacing) !important; // stylelint-disable-line declaration-no-important
}
