@import './field-style.scss';

.es-field {
	&__label {
		a {
			pointer-events: none;
		}
	}

	&__inner {
		transition: {
			property: opacity;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	&--hidden &__inner,
	&.is-hidden &__inner {
		opacity: 0.4;
	}
}
