@import './field-style.scss';

.es-field {
	$this: &;

	&__label {
		a {
			pointer-events: none;
		}

		&--is-required::after {
			content: '*';
			font-size: 0.75rem;
			color: var(--global-colors-esf-red-500);
			vertical-align: top;
			margin-inline-start: 0.3125rem;
		}
	}

	&__inner {
		transition: {
			property: opacity;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	&.es-form-is-hidden &__inner {
		opacity: 0.4;
	}

	&__debug {
		pointer-events: none;
		position: absolute;
		inset-inline-end: -200vw;
		background-color: var(--global-colors-esf-white);
		border: 1px solid var(--global-colors-esf-gray-300);
		padding: 0.3125rem;
		border-radius: var(--global-esf-spacing-s);
		font-size: 0.75rem;
		z-index: 2;
		display: none;
	}

	&:hover {
		#{$this}__debug {
			display: block;
			inset-inline-end: 0;
		}
	}
}
