// stylelint-disable number-max-precision

.es-field,
.es-group {
	$this: &;

	&__label {
		font-size: 0.8125rem;
		padding: 0;
		margin-bottom: 0.375rem;
		display: block;

		&--is-required::after {
			content: '*';
			font-size: 0.75rem;
			color: var(--global-colors-esf-red-500);
			vertical-align: top;
		}
	}

	legend &__label-inner {
		display: inline-block;
		margin-bottom: var(--global-esf-spacing-s);
	}

	@include field-styles;

	&__before-content {
		max-width: var(--global-esf-max-width);

		> * {
			padding-bottom: var(--global-esf-spacing-l);
			color: var(--global-colors-esf-gray-500);
			font-size: 14px;
			line-height: 1.7;

			&:last-child {
				padding-bottom: 0;
			}

			strong {
				font-weight: 600;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 600;
		}
	}
}

.es-field {
	$this: &;

	&__inner {
		max-width: var(--global-esf-max-width);
	}

	&--hidden {
		display: none;
		user-select: none;
	}

	&--submit {
		display: flex;
		justify-content: flex-end;

		max-width: var(--global-esf-max-width);
	}

	// Remove spacing if regular checkboxes are inside.
	&--checkboxes:not(:has(.es-checkbox-toggle)) {
		--esf-field-space: 0;
	}

	&__content-wrap {
		display: flex;
		flex-direction: column;
		gap: var(--esf-field-space, 1rem);
	}

	&__submit {
		#{$this}__content-wrap {
			text-align: right;
		}
	}

	&--inline-before-after-content {
		#{$this}__content {
			display: flex;
			align-items: center;
		}

		#{$this}__content-wrap {
			flex-grow: 1;
		}

		#{$this}__before-content,
		#{$this}__after-content {
			flex-shrink: 0;

			padding: var(--global-esf-spacing-s);

			border: 1px solid var(--global-colors-esf-gray-300);
			display: flex;
			align-items: center;
			justify-content: center;

			background-color: var(--global-colors-esf-gray-50);
			color: var(--global-colors-esf-gray-500);

			height: var(--esf-input-height);

			transition: {
				property: border-color, box-shadow;
				timing-function: var(--es-input-transition-timing);
				duration: var(--es-input-transition-duration);
			}
		}

		#{$this}__before-content {
			border-top-left-radius: var(--global-es-radius-8);
			border-bottom-left-radius: var(--global-es-radius-8);

			margin-right: -2px; // To align it with the input field.
		}

		#{$this}__after-content {
			border-top-right-radius: var(--global-es-radius-8);
			border-bottom-right-radius: var(--global-es-radius-8);
		}

		@supports selector(:has(*)) {
			&:has(.es-field__before-content):not(:has(.es-field__after-content)) {
				// stylelint-disable-next-line max-nesting-depth
				.es-input {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			&:has(.es-field__after-content):not(:has(.es-field__before-content)) {
				// stylelint-disable-next-line max-nesting-depth
				.es-input {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&:has(.es-field__after-content):has(.es-field__before-content) {
				// stylelint-disable-next-line max-nesting-depth
				.es-input {
					border-radius: 0;
				}
			}
		}

		@supports not selector(:has(*)) {
			#{$this}__content {
				gap: 0.5rem;
			}

			#{$this}__before-content,
			#{$this}__after-content {
				border-radius: var(--global-es-radius-8);
				border-color: var(--global-colors-esf-gray-50);
			}
		}
	}

	&--fifty-fifty-horizontal {
		#{$this}__inner {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}

		#{$this}__label {
			margin: 0;
		}

		#{$this}__content {
			display: flex;
			align-items: center;
			gap: var(--global-esf-spacing-s);
		}

		#{$this}__content-wrap {
			flex-grow: 1;
		}

		#{$this}__before-content,
		#{$this}__after-content {
			flex-shrink: 0;
		}
	}
}

// stylelint-enable number-max-precision
