.es-field {
	$this: &;
	border: none; // Because of fieldset.
	margin-left: 0;
	margin-right: 0;
	padding: 0;

	&__label {
		margin-bottom: 5px;
		display: block;
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}

		&--is-required::after {
			content: '*';
			font-size: 0.75rem;
			color: var(--global-colors-esf-red-500);
			vertical-align: top;
		}
	}

	&.es-form-is-active {
		#{$this}__label {
			color: var(--global-colors-esf-admin-accent);
		}
	}
}
