.es-field {
	$this: &;
	border: none; // Because of fieldset.
	margin-left: 0;
	margin-right: 0;

	&__label {
		margin-bottom: 5px;
		display: block;
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}
	}

	&.is-active {
		#{$this}__label {
			color: var(--global-colors-es-matisse);
		}
	}
}
