// stylelint-disable number-max-precision

.es-field {
	$this: &;
	margin-bottom: 1rem;

	&--submit {
		margin-bottom: 1.75rem;
	}

	&__inner {
		@include media(desktop up) {
			display: grid;
			column-gap: 1.25rem;
			grid-template-columns: repeat(12, 1fr);
		}
	}

	&__label {
		font-size: 15px;
		padding: 0;
		margin-bottom: 0.625rem;
		display: block;

		@include media(desktop up) {
			font-size: inherit;
			padding-top: 0.75rem;
			margin-bottom: 0;
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}

	&__content {
		@include media(desktop up) {
			grid-column-start: 4;
			grid-column-end: 13;
		}

		@include media(large up) {
			grid-column-end: 11;
		}
	}

	&__help {
		color: var(--global-colors-es-chalice);
		margin-top: 0.5rem;

		@include media(desktop up) {
			grid-column-start: 4;
			grid-column-end: 13;
		}

		@include media(large up) {
			grid-column-end: 11;
		}

		a {
			color: var(--global-colors-es-matisse);
			text-decoration-style: dotted;
			text-underline-offset: 0.1em;
			text-decoration-thickness: 1px;
		}

		code {
			font-size: 0.95em;
			padding: 0.15rem 0.25rem;
			border-radius: 3px;
			background: var(--global-colors-es-chalice-05);
			color: var(--global-colors-es-chalice);
			border: 1px solid var(--global-colors-es-chalice-10);
			margin: 0;
		}
	}

	&__es-error {
		@include media(desktop up) {
			grid-column-start: 4;
			grid-column-end: 13;
		}

		@include media(large up) {
			grid-column-end: 11;
		}
	}

	&__submit {
		margin-bottom: 2rem;

		#{$this}__content-wrap {
			text-align: right;
		}
	}
}

legend.es-field__label {
	@include media(desktop up) {
		padding-top: 12px;
		margin-bottom: -18px;
	}
}

// stylelint-enable number-max-precision
