@import './field-style.scss';

.es-field {
	&__label {
		a {
			pointer-events: none;
		}

		&--is-required::after {
			content: '*';
			font-size: 0.75rem;
			color: var(--global-colors-esf-red-500);
			vertical-align: top;
			margin-left: 0.3125rem;
		}
	}

	&__inner {
		transition: {
			property: opacity;
			timing-function: ease-out;
			duration: 0.3s;
		}
	}

	&--hidden &__inner,
	&.is-hidden &__inner {
		opacity: 0.4;
	}
}
