// stylelint-disable number-max-precision

.es-field,
.es-group {
	&__label {
		font-size: 17px;
		padding: 0;
		margin-bottom: 0.625rem;
		display: block;
	}

	@include field-styles;

	&__help,
	&__before-content,
	&__after-content {
		.is-filter-applied {
			margin-top: 15px;
			background-color: var(--global-colors-es-pome-10);
			padding: 10px;
			color: var(--global-colors-es-pome);
		}
	}

	&__before-content {
		max-width: var(--global-es-max-width);

		> * {
			padding-bottom: var(--global-es-spacing-horizontal-small);
			color: var(--global-colors-es-boulder);
			font-size: 14px;
			line-height: 1.7;

			&:last-child {
				padding-bottom: 0;
			}

			strong {
				font-weight: 600;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 600;
		}
	}
}

.es-field {
	$this: &;

	&__inner {
		max-width: var(--global-es-max-width);
	}

	&--hidden {
		display: none;
		user-select: none;
	}

	&--submit {
		display: flex;
		justify-content: flex-end;
	}

	&__submit {
		#{$this}__content-wrap {
			text-align: right;
		}
	}
}

// stylelint-enable number-max-precision
