/*
Some default color are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_colors.scss
*/

$base-scarlet-color:     #D8262C;
$base-guard-color:       #BD0101;
$base-mina-color:        #353535;
$base-scorpion-color:    #5D5D5D;
$base-dusty-color:       #8B8B8B;
$base-chalice-color:     #AAAAAA;
$base-silver-color:      #C5C5C5;
$base-alto-color:        #D8D8D8;
$base-mercury-color:     #E9E9E9;
$base-porcelain-color:   #EAECEE;
$base-alabaster-color:   #F9F9F9;
$base-sand-color:        #F4F4F4;

$base-malachite-color:   #15C343;

$base-primary-color: $base-scarlet-color;

$global-input-focus-color: rgba($base-black-color, 0.2);
$global-box-shadow-color: rgba($base-black-color, 0.1);

$base-text-color: $base-mina-color;

// Paragraph Block
$paragraph-color-map: (
  white: $base-white-color,
  dusty:  $base-dusty-color,
);

// Section Background color
$sections-color-map: (
  white: $base-white-color,
  sand:  $base-sand-color,
);

// Buttons
$button-color-map: (
  default: (
    bg: $base-scarlet-color,
    text: $base-white-color,
    border: $base-scarlet-color,
    bg-hover: $base-guard-color,
    text-hover: $base-white-color,
    border-hover: $base-guard-color
  ),
);

$links-map: (
  default: (
    color: $base-scarlet-color,
    hover: $base-guard-color
  ),
  dusty-default: (
    color: $base-dusty-color,
    hover: $base-guard-color
  )
);
