@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
@keyframes fade-in-items {
  0% {
    top: -100vh;
  }

  100% {
    top: 0;
  }
}
@keyframes fade-out-items {
  0% {
    top: 0;
  }

  100% {
    top: -100vh;
  }
}
