.es-block-forms {
	$this: &;

	&__edit-wrap {
		display: none;
	}

	&__not-set {
		text-align: center;
		max-width: 500px;
		margin: 0 auto;
		border: 1px solid var(--global-colors-esf-gray-300);
		padding: 20px;

		&-image {
			max-width: 100%;
			height: auto;
			display: block;
		}

		&-text {
			margin-top: 20px;
			border-top: 1px solid var(--global-colors-esf-gray-300);
			padding: 20px;
			padding-bottom: 0;
		}
	}
}

.es-forms-options-download {
	display: grid;
	overflow-wrap: anywhere;
	align-items: center;
	grid-gap: 10px;
	grid-template-columns: 37px 1fr;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 12px;
	border-top: 1px solid var(--global-colors-esf-gray-300);
}
