.es-block-forms {
	$this: &;

	&__edit-wrap {
		display: none;
	}
}

.es-forms-options-download {
	display: grid;
	overflow-wrap: anywhere;
	align-items: center;
	grid-gap: 10px;
	grid-template-columns: 37px 1fr;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 12px;
	border-top: 1px solid var(--global-colors-esf-gray-300);
}
