.es-block-forms {
	$this: &;

	&--not-set {
		#{$this}__image {
			max-width: 100%;
			height: auto;
			display: block;
		}

		#{$this}__text {
			color: #009897;
			margin-top: 10px;
			margin-bottom: 10px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
