.block-radio {
  $this: &;

  &.is-style-inline {
    .block-editor-block-list {
      &__layout {
        display: flex;
        flex-wrap: wrap;
      }

      &.block-list-appender {
        flex: 0 0 100%;
      }
    }
  }

}