// stylelint-disable max-nesting-depth

@use '../../assets/styles/bootstrap-scss.scss' as theme;

.es-form {
	$this: &;

	@include theme.form-reset;
	@include theme.form-styles;

	> #{$this}__fields {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				@include theme.form-fields-mandatory-styles;
				@include theme.form-fields-styles;

				> * {
					margin-inline: 0;
					margin-block-start: 0;
					padding-block: 0;

					@include theme.form-fields-children-mandatory-styles;
					@include theme.form-fields-children-styles;
				}
			}
		}
	}

	&__editor {
		@include theme.form-width-limit-styles;
	}
}
