@import './form-style.scss';

.es-form {
	$this: &;

	&__fields {
		@include form-fields-mandatory-styles;

		> .es-field {
			@include form-fields-children-mandatory-styles;
		}
	}
}

body[data-hide-captcha-badge='true'] {
	.grecaptcha-badge {
		display: none !important; // stylelint-disable-line declaration-no-important
	}
}
