@import './form-style.scss';

.es-form {
	$this: &;

	@include form-reset;
	@include form-styles;
	@include form-width-limit-styles;

	&__fields {
		@include form-fields-styles;

		> .es-field {
			@include form-fields-children-styles;
		}
	}
}
