.es-form {
	$this: &;

	max-width: 600px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;

	&__fields {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(var(--es-grid-spacing) * -1);
		margin-right: calc(var(--es-grid-spacing) * -1);

		> .es-field {
			flex: 0 0 var(--field-width, 100%);
			max-width: var(--field-width, 100%);
			padding-left: var(--es-grid-spacing);
			padding-right: var(--es-grid-spacing);
			margin-bottom: 20px;
		}
	}
}
