@import './form-style.scss';

.es-form {
	$this: &;
	> #{$this}__fields {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
					display: flex;
					flex-wrap: wrap;
					margin-left: calc(var(--es-grid-spacing) * -1);
					margin-right: calc(var(--es-grid-spacing) * -1);

				> * {
					flex: 0 0 var(--field-width, 100%);
					max-width: var(--field-width, 100%);
					padding: var(--es-grid-spacing);
					margin-bottom: calc(var(--es-form-field-spacing) - calc(var(--es-grid-spacing) * 2));
				}
			}
		}
	}
}
