// stylelint-disable max-nesting-depth

@import './form-style';

.es-form {
	$this: &;

	@include form-reset;
	@include form-styles;

	> #{$this}__fields {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				@include form-fields-mandatory-styles;
				@include form-fields-styles;

				> * {
					@include form-fields-children-mandatory-styles;
					@include form-fields-children-styles;

					margin-inline: 0;
					margin-block-start: 0;
					padding-block: 0;
				}
			}
		}
	}

	&__editor {
		@include form-width-limit-styles;
	}
}
