.es-block-result-output-item {
	border: 1px solid var(--global-colors-esf-sky-200);

	&__intro {
		border-bottom: 1px solid var(--global-colors-esf-sky-200);
		text-align: center;
		padding: 0.625rem;
		background-color: var(--global-colors-esf-sky-50);

		&--missing {
			color: var(--global-colors-esf-red-500);
		}
	}
}
