// stylelint-disable number-max-precision, selector-max-specificity

.eightshift-forms_page_es-settings-global,
.toplevel_page_es-forms,
.admin_page_es-settings {
	#wpbody-content {
		padding-bottom: 0;

		> .notice {
			display: none;
		}
	}

	#wpfooter {
		display: none;
	}
}

.es-admin-settings-section {
	$this: &;

	&--with-sidebar {
		display: grid;
		grid-template-columns: 15rem 1fr;
		grid-template-areas:
			'notice notice notice'
			'sidebar main main';

		column-gap: 1rem;
	}

	&__sidebar {
		grid-area: sidebar;

		display: flex;
		flex-direction: column;
		gap: var(--global-esf-spacing-l);

		position: sticky;
		top: 0;

		align-self: flex-start;

		padding-block: var(--global-esf-spacing-l);

		@include media(desktop up) {
			top: 2rem; // Admin bar height (desktop).
		}
	}

	&__sidebar-label {
		padding: 0 var(--global-esf-spacing-s) var(--global-esf-spacing-s);

		font-size: 0.85rem;
		line-height: 1.2;
		letter-spacing: 0.01em;

		color: var(--global-colors-esf-gray-500);
	}

	&__notice {
		grid-area: notice;
	}

	&__main {
		grid-area: main;

		#{$this}__content {
			overflow-x: hidden;
			padding: var(--global-esf-spacing-xl);

			height: 100%;

			#{$this}__content {
				padding: 0;
			}
		}
	}

	&__section {
		height: 100%;
	}

	&__heading {
		padding: var(--global-esf-spacing-l) var(--global-esf-spacing-xl) 0;
	}

	&__heading-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 36px;
	}

	&__heading-inner-wrap {
		display: flex;
		align-items: center;
	}

	&__heading-title {
		font-size: 1.5rem;
		font-weight: 500;
		min-height: 1.25rem;
		line-height: 1.2;
		letter-spacing: -0.02em;
	}

	&__description {
		font-size: 0.8rem;
		color: var(--global-colors-esf-gray-500);
		margin-top: 0.5rem;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;
		gap: 1px;
	}

	&__menu-item {
		margin: 0;
	}

	&__menu-link-wrap {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 0.8rem;

		gap: var(--global-esf-spacing-s);
	}

	&__menu-link {
		padding: 0.4rem 0.45rem;
		display: block;
		position: relative;
		text-decoration: none;
		color: var(--global-colors-esf-gray-600);

		border-radius: var(--global-esf-spacing-s);

		box-shadow: 0 0 0 0 rgb(var(--global-colors-esf-admin-accent-values) / 0);

		transition: {
			property: color, background-color, box-shadow;
			timing-function: linear, linear, ease-out;
			duration: 0.3s;
		}

		&--fit {
			width: fit-content;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;

			transition: {
				property: transform, color;
				timing-function: ease-in-out;
				duration: 0.3s;
			}

			color: var(--global-colors-esf-gray-400);
		}

		&:hover,
		&:hover:focus {
			color: var(--global-colors-esf-gray-600);
			background-color: var(--global-colors-esf-gray-200);

			svg {
				color: var(--global-colors-esf-gray-500);
			}
		}

		&--active,
		&--active:focus,
		&--active:hover {
			color: var(--global-colors-esf-admin-accent);
			background-color: var(--global-colors-esf-admin-accent-05);

			box-shadow: inset 0 0 0.25rem var(--global-colors-esf-admin-accent-05);

			svg {
				color: var(--global-colors-esf-admin-accent);
			}
		}

		&:focus-visible,
		&--active:focus-visible {
			box-shadow: 0 0 0 3px var(--global-colors-esf-admin-accent-30), inset 0 0 0 1px var(--global-colors-esf-admin-accent);

			color: var(--global-colors-esf-admin-accent);

			svg {
				color: var(--global-colors-esf-admin-accent);
			}
		}
	}

	&__link {
		&--cta {
			// Inheriting Submit button style, with a slight tweak.
			// stylelint-disable declaration-no-important, scss/at-extend-no-missing-placeholder
			@extend .es-submit;
			@extend .es-submit--ghost;

			padding: 0.5rem 0.75rem !important;
			height: auto !important;
			// stylelint-enable declaration-no-important, scss/at-extend-no-missing-placeholder
		}
	}
}

// stylelint-enable number-max-precision
