.es-admin-settings-section {
	$this: &;
	background-color: var(--global-colors-es-white);
	margin-left: -20px;
	min-height: 100vh;

	&--with-sidebar {
		display: grid;
		grid-template-columns: 180px auto;
	}

	&__sidebar {
		background-color: var(--global-colors-es-alto);

		> * {
			margin-bottom: var(--global-es-spacing-horizontal);
		}
	}

	&__main {
		box-shadow: 0 0 5px rgba(#000000, 0.2);

		#{$this}__content {
			padding: 0 var(--global-es-spacing-horizontal);

			#{$this}__content {
				padding: 0;
			}
		}
	}

	&__section {
		&--clean {
			text-align: center;
		}
	}

	&__heading {
		padding: 16px var(--global-es-spacing-vertical);
		border-bottom: 1px solid var(--global-colors-es-ebb);
		margin-bottom: var(--global-es-spacing-horizontal);

		&--no-spacing {
			margin-bottom: 0;
		}
	}

	&__heading-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__heading-title {
		font-size: 24px;
		font-weight: bold;
		min-height: 20px;
		line-height: 1.2;
	}

	&__description {
		font-size: 13px;
		color: var(--global-colors-es-boulder);
		margin-top: 8px;
	}

	&__link {
		text-decoration: none;
		color: var(--global-colors-es-chalice);
		transition: {
			property: color;
			timing-function: ease-in-out;
			duration: 0.3s;
		}
	}

	&__actions {
		> * {
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid var(--global-colors-es-ebb);

			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border: none;
			}
		}
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__menu-item {
		margin: 0;
	}

	&__menu-link-wrap {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 14px;
	}

	&__menu-link {
		padding: 13px 15px;
		display: block;
		border-bottom: 1px solid var(--global-colors-es-ebb);
		position: relative;
		text-decoration: none;
		color: var(--global-colors-es-boulder);
		transition: {
			property: color, background-color, border-bottom;
			timing-function: ease-in-out;
			duration: 0.3s;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&::before {
			content: '';
			background-color: var(--global-colors-es-matisse);
			position: absolute;
			left: 0;
			z-index: 1;
			top: 0;
			width: 0;
			height: 100%;
			transition: {
				property: width;
				timing-function: ease-in-out;
				duration: 0.3s;
			}
		}

		svg {
			margin-right: 10px;
			transition: {
				property: transform;
				timing-function: ease-in-out;
				duration: 0.3s;
			}
		}

		&--active,
		&--active:focus,
		&--active:hover,
		&:hover,
		&:hover:focus {
			border-bottom-color: var(--global-colors-es-matisse);
			color: var(--global-colors-es-white);

			svg {
				transform: scale(1.15);
			}

			&::before {
				width: 100%;
			}
		}
	}
}
