.es-integrations {
	&__invalid {
		background-color: var(--global-colors-es-pome);
		padding: 50px;

		border-radius: 6px;
		color: var(--global-colors-es-white);
		border: 2px solid var(--global-colors-es-pome);

		line-height: 1.35;
		font-size: 0.8rem;
		text-align: center;
	
		b {
			margin-bottom: 15px;
			display: inline-block;
	
			font-weight: 600;
			font-size: 0.95rem;
			color: var(--global-colors-es-white);
		}
	
		svg {
			width: 36px;
			height: 36px;
			color: var(--global-colors-es-white);
			margin-bottom: 10px;
		}
	}
}
