.es-field--country {
	.es-country__info-text {
		@include input-styles-disabled;
		border: 1px solid var(--es-input-border-color);
		border-radius: var(--global-esf-spacing-s);
		padding: var(--es-input-spacing);
		min-block-size: var(--esf-input-height);
		display: flex;
		align-items: center;
	}
}
