// stylelint-disable declaration-no-important

.es-country {
	height: var(--global-es-input-height) !important;
	line-height: 1 !important;
	border: 1px solid var(--global-colors-es-chalice) !important;
	padding: 10px !important;
	max-width: initial !important;
	min-height: initial !important;
	border-radius: 0 !important;
}

div.es-country {
	height: auto !important;
}

.es-country-is-custom {
	country {
		display: block;
	}
}
