.es-invalid {
	$this: &;

	background-color: var(--global-colors-esf-red-500);
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	color: var(--global-colors-esf-white);
	border: 2px solid var(--global-colors-esf-red-500);

	&__icon {
		margin-block-end: 15px;

		svg {
			inline-size: 36px;
			block-size: 36px;
			color: var(--global-colors-esf-white);
		}
	}

	&__heading {
		margin-block-end: 5px;
		font-weight: bold;
	}
}
