.es-invalid {
	width: 100%;
	padding: 2rem;

	color: var(--global-colors-es-pome);
	border: 2px solid var(--global-colors-es-pome);
	border-radius: 6px;

	line-height: 1.35;
	font-size: 0.95rem;
	text-align: center;
}
