.es-divider {
	border-bottom: 1px solid var(--global-colors-es-french);
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: calc(var(--global-es-spacing-horizontal) * -1);
	margin-right: calc(var(--global-es-spacing-horizontal) * -1);
}
