.es-divider {
	border-block-end: 1px solid var(--global-colors-esf-border);
	margin: 0 calc(var(--global-esf-spacing-l) * -1);

	&--extra-v-spacing {
		margin: var(--global-esf-spacing-s) calc(var(--global-esf-spacing-l) * -1);
	}
}
