.es-divider {
	border-bottom: 1px solid var(--global-colors-es-ebb);
	margin: {
		bottom: 30px;
		top: 30px;
		left: calc(var(--global-es-spacing-horizontal) * -1);
		right: calc(var(--global-es-spacing-horizontal) * -1);
	}
}
