$block-checkbox-margin: 10px 0 20px 0 !default;

.block-checkbox {
  margin: $block-checkbox-margin;

  &__label {
    display: flex;
    align-items: center;
  }

  &__label-content {
    margin-left: 10px;
  }
}
