select.es-select,
select.es-select__select {
	@include input-styles;
}

.es-select {
	padding: var(--es-input-spacing);
	border: 1px solid var(--es-input-border-color);

	&--disabled {
		@include input-styles-disabled;
	}

	&__placeholder {
		padding-bottom: 15px;
		opacity: 0.5;
	}

	.block-editor-block-list__layout {
		> * {
			margin-top: 0;
			padding-bottom: 0 !important; // stylelint-disable-line declaration-no-important
		}
	}
}
