@import '~choices.js/public/assets/styles/choices.min.css';

.es-select {
	width: 100%;
	border: 1px solid var(--global-colors-es-chalice);
	cursor: text;
	background-color: transparent;
	height: var(--global-es-input-height);
	padding: 0 10px;
	border-radius: 0;

	&:focus {
		outline: none;
		box-shadow: none;
		border-color: var(--global-colors-es-matisse);
	}
}

.es-select-is-custom {
	select {
		display: none;
	}

	.choices {
		&::after {
			display: none;
		}

		&.is-open {
			.choices__inner::after { // stylelint-disable-line selector-max-specificity
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	.choices__inner {
		position: relative;
		z-index: 4;
		background-color: transparent;
		border: 1px solid var(--global-colors-es-chalice);
		height: var(--global-es-input-height);
		border-radius: 0;
		display: flex;
		align-items: center;
		padding: 0 30px 0 10px;
		padding-bottom: 0 !important; // stylelint-disable-line declaration-no-important

		&::after {
			content: '';
			background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMCAwaDE2djE2SDB6Ii8+PC9jbGlwUGF0aD48ZyBjbGlwLXBhdGg9InVybCgjYSkiIHN0cm9rZT0iIzExMSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNOCAwdjE0TTIuNjQgOC42NzggOCAxNGw1LjM2LTUuMzIyIi8+PC9nPjwvc3ZnPg==');
			width: 16px;
			height: 16px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			transition: {
				property: transform;
				timing-function: ease-in-out;
				duration: 0.3s;
			}
		}
	}

	.choices__list--single {
		padding: 0;
	}

	.choices__list--dropdown {
		background-color: var(--global-colors-es-white);
		border: 1px solid var(--global-colors-es-chalice);
		border-top: none;
		border-radius: 0;
		margin: 0;
		z-index: 3;

		.choices__item {
			padding: 10px;
			display: flex;
			align-items: center;

			&.is-highlighted {
				color: var(--global-colors-es-white);
				background-color: var(--global-colors-es-matisse);
			}
		}
	}
}
