// stylelint-disable declaration-no-important

.es-select {
	height: var(--global-es-input-height) !important;
	line-height: 1 !important;
	border: 1px solid var(--global-colors-es-chalice) !important;
	padding: 10px !important;
	max-width: initial !important;
	min-height: initial !important;
	border-radius: 0 !important;
}
