// stylelint-disable declaration-no-important
@import './select-style.scss';
@import './select-editor.scss';

.es-select-is-custom {
	select {
		display: initial;
		border-color: var(--global-colors-es-chalice) !important;

		&:focus {
			outline: none !important;
			box-shadow: none !important;
			border-color: var(--global-colors-es-matisse) !important;
		}

		&:disabled {
			background-color: var(--global-colors-es-alto);
			color: var(--global-colors-es-boulder);
			opacity: 1;
			cursor: default;
		}
	}
}
