@import '~choices.js/public/assets/styles/choices.min.css';

div.es-select {
	.choices {
		&__list--dropdown {
			.choices__placeholder,
			[data-visibility='es-form-is-hidden-ct'] {
				display: none !important; // stylelint-disable-line declaration-no-important
			}
		}

		&__list-multiple {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}
