select.es-select,
select.es-select__select {
	@include input-styles;
}

.es-select {
	padding: var(--es-input-spacing);
	border: 1px dashed var(--es-input-border-color);

	border-radius: var(--global-esf-spacing-s);

	&--disabled {
		@include input-styles-disabled;
	}

	&__placeholder {
		padding-bottom: 15px;
		opacity: 0.5;
	}
}
