// stylelint-disable declaration-no-important
@import './select-style.scss';
@import './select-editor.scss';

.es-select-is-custom,
.es-select {
	display: inherit;
	border-color: var(--global-colors-es-chalice) !important;
	border-radius: 3px !important;

	&:hover {
		color: var(--global-colors-es-matisse) !important;
	}

	&:focus {
		outline: none !important;
		box-shadow: none !important;
		border-color: var(--global-colors-es-matisse) !important;
		color: var(--global-colors-es-matisse) !important;
	}

	&:disabled {
		background-color: var(--global-colors-es-alto) !important;
		color: var(--global-colors-es-boulder) !important;
		opacity: 1;
		cursor: default;
	}
}
