.es-field--radios {
	.es-field__content-wrap {
		padding: var(--es-input-spacing);
		border: 1px solid var(--es-input-border-color);

		@include input-styles-disabled;

		.block-editor-block-list__layout {
			> * {
				margin-top: 0;
				padding-bottom: 0 !important; // stylelint-disable-line declaration-no-important
			}
		}
	}
}
