// stylelint-disable declaration-no-important

.es-textarea {
	padding: 10px !important;
	border-radius: 0 !important;
	border-color: var(--global-colors-es-chalice) !important;
	background-color: transparent !important;
}
