textarea.es-textarea {
	inline-size: 100%;
	border: 1px solid var(--es-input-border-color);
	cursor: text;
	background-color: transparent;
	min-block-size: calc(var(--esf-input-height) * 3);
	block-size: calc(var(--esf-input-height) * 3);
	padding: var(--es-input-spacing);
	border-radius: var(--es-input-radius);
	transition: {
		property: border-color;
		timing-function: var(--es-input-transition-timing);
		duration: var(--es-input-transition-duration);
	}
	resize: vertical;

	&:focus {
		@include input-styles-focus;
	}

	&:disabled {
		@include input-styles-disabled;
	}

	&:read-only {
		@include input-styles-read-only;
	}
}
