textarea.es-textarea {
	width: 100%;
	border: 1px solid var(--es-input-border-color);
	cursor: text;
	background-color: transparent;
	min-height: calc(var(--es-input-height) * 3);
	height: calc(var(--es-input-height) * 3);
	padding: var(--es-input-spacing);
	border-radius: 0;
	transition: {
		property: border-color;
		timing-function: var(--es-input-transition-timing);
		duration: var(--es-input-transition-duration);
	}

	&:focus {
		outline: none;
		box-shadow: none;
		border-color: var(--es-input-focus-border-color);
	}

	&:disabled {
		cursor: default;
		background-color: var(--es-input-disabled-background-color);
	}

	&:read-only {
		background-color: var(--es-input-readonly-background-color);
	}
}
