.spinner {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  transform: translateZ(0);
  animation: spinner 1.7s infinite ease, round 1.7s infinite ease; /* stylelint-disable-line no-unknown-animations */

  &.hide-spinner {
    display: none;
  }
}
