$spinner: (
  z-index: map-get-strict($zindex, spinner),
);

.form-spinner {
  @extend %absolute-center;
  z-index: map-get-strict($spinner, z-index);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: spinner 1.7s infinite ease, round 1.7s infinite ease; /* stylelint-disable-line no-unknown-animations */

  &.hide-spinner {
    display: none;
  }
}
