@use '../../assets/styles/bootstrap-scss.scss' as theme;

.es-step {
	&__inner {
		> .es-field {
			@include theme.form-fields-children-styles;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		inline-size: 100%;
	}
}
