$block-select-option: (
	border: 1px solid global-settings(colors, black),
);

.block-select-option {
	&__option {
		border: map-get-strict($block-select-option, border);
		border-radius: 5px;
		padding: 5px;
	}
}
