// stylelint-disable selector-max-specificity

.es-admin-settings {
	.es-form[data-settings-type='cache'],
	.es-form[data-settings-type='location'],
	.es-form[data-settings-type='dashboard'],
	.es-form[data-settings-type='debug'],
	.es-form[data-settings-type='documentation'],
	.es-form[data-settings-type='migration'],
	.es-form[data-settings-type='transfer'],
	.es-form[data-form-type='settingsGlobal'][data-settings-type='geolocation'],
	.es-form[data-form-type='settingsGlobal'][data-settings-type='mailer'],
	.es-form[data-form-type='settingsGlobal'][data-settings-type='cloudflare'] {
		.es-submit--global {
			display: none;
		}
	}

	// If available, use Inter because it looks nice.
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;

	@supports (font-variation-settings: normal) {
		font-family: 'Inter var', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
	}
}
