.es-settings-form-option {
	--settings-form-option-scoped-border-color: #C3C4C7;
	--settings-form-option-scoped-background-color: #FFFFFF;
	--settings-form-option-scoped-spacing-v: 20px;
	--settings-form-option-scoped-spacing-h: 15px;

	padding: var(--settings-form-option-scoped-spacing-h) var(--settings-form-option-scoped-spacing-v) 0 0;

	&__section {
		background-color: var(--settings-form-option-scoped-background-color);
		border: 1px solid var(--settings-form-option-scoped-border-color);
	}

	&__heading {
		padding: var(--settings-form-option-scoped-spacing-h) var(--settings-form-option-scoped-spacing-v);
		border-bottom: 1px solid var(--settings-form-option-scoped-border-color);
		font-size: 18px;
		font-weight: bold;
	}

	&__content {
		padding: var(--settings-form-option-scoped-spacing-v) var(--settings-form-option-scoped-spacing-h);
	}

	&__desciption {
		font-size: 14px;
	}

	&__form {
		padding-top: var(--settings-form-option-scoped-spacing-h);
	}
}
