button {
	&.es-submit {
		$this: &;

		--submit-scoped-background-color: var(--global-colors-es-matisse);

		font-weight: bold;
		width: 100%;
		background-color: var(--submit-scoped-background-color);
		color: var(--global-colors-es-white);
		padding: calc(var(--es-input-spacing) * 2);
		border: var(--submit-scoped-background-color);
		cursor: pointer;

		transition: {
			property: background-color;
			timing-function: var(--es-input-transition-timing);
			duration: var(--es-input-transition-duration);
		}

		&:hover:not(:disabled) {
			--submit-scoped-background-color: var(--global-colors-es-blumine);
		}

		&:disabled {
			opacity: 0.6;
			cursor: default;
			pointer-events: none;
		}

		&__inner {
			pointer-events: none;
		}
	}
}
