.es-loader {
	$this: &;
	display: var(--loader-scoped-display, none);
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
	position: absolute;

	&.es-form-is-active {
		--loader-scoped-display: block;

		#{$this}__overlay {
			transition: opacity 0.2s ease-in-out;
		}

		#{$this}__spinner {
			animation: rotate 1.5s infinite linear;
		}
	}

	&__overlay {
		position: absolute;
		inset-inline-start: 0;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		background-color: var(--global-colors-esf-white);
		opacity: 0.5;
		transition: opacity 0.2s ease-in-out;
		z-index: 1;
	}

	&__spinner {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -2rem 0 0 -2rem;
		z-index: 2;
		width: 4rem;
		height: 4rem;
		aspect-ratio: 1;
		display: grid;
		border: 2px solid var(--global-colors-esf-gray-500);
		border-radius: 50%;
		border-color: var(--global-colors-esf-gray-500) transparent;

		@keyframes rotate {
			100% {
				transform: rotate(1turn);
			}
		}

		&::before,
		&::after {
			content: '';
			grid-area: 1/1;
			margin: 0.3rem;
			border: inherit;
			border-radius: 50%;
		}

		&::before {
			border-color: var(--global-colors-esf-red-500) transparent;
			animation: inherit;
			animation-duration: 0.5s;
			animation-direction: reverse;
		}

		&::after {
			margin: 1rem;
		}
	}
}
