.es-tabs {
	margin: 0 calc(-1 * var(--global-es-spacing-horizontal));

	@include media(desktop up) {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
	}

	&--first {
		border-top: 1px solid var(--global-colors-es-ebb);
		margin-top: 40px;
	}
}
