// stylelint-disable declaration-no-important

.es-conditional-tags {
	position: absolute;
	color: var(--global-colors-es-pome);
	right: 10px;
	top: 8px;
}

.es-conditional-tags-modal {
	&__item {
		width: 100%;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr min(30px);
		grid-template-rows: 40px;
	}

	&__header {
		border-bottom: 1px solid;
		font-weight: bold;
		padding-right: 40px;
		margin-block: 10px;
		padding-bottom: 5px;
	}

	&__grid {
		width: 100%;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr min(100px);

		&[data-count='3'] {
			grid-template-columns: 1fr 1fr min(100px);
		}

		&[data-count='2'] {
			grid-template-columns: 1fr min(100px);
		}
	}

	&__header-intro {
		display: flex;
		margin-bottom: 20px;

		> * {
			margin-right: 10px;
		}
	}

	&__header-intro-text {
		margin-top: 6px;
	}

	&__item-remove {
		margin: -3px 0 0 !important;
		padding: 0 !important;
	}
}
