.es-steps {
	&__title {
		display: inline-block;
		margin-bottom: 1rem;
		font-size: 0.95rem;
		letter-spacing: 0;
		font-weight: 500;
	}

	&__steps {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		margin: 0;
		padding: 0;
	}

	&__step {
		font-size: 0.8rem;
		line-height: 1.5;
		color: var(--global-colors-esf-gray-500);
		counter-increment: section;

		display: flex;
		align-items: first baseline;
		gap: var(--global-esf-spacing-s);

		margin: 0;
		padding: 0;

		a {
			color: var(--global-colors-esf-admin-accent);
			text-decoration-style: dotted;
			text-underline-offset: 0.1em;
			text-decoration-thickness: 1px;
		}

		&::before {
			font-size: 0.75rem;
			line-height: 1;

			border-radius: 100rem;
			color: var(--global-colors-esf-admin-accent);
			border: 1px solid var(--global-colors-esf-admin-accent-30);

			width: 1.6rem;
			height: 1.6rem;

			display: flex;
			align-items: center;
			justify-content: center;
			content: counter(section);

			flex-shrink: 0;
		}
	}
}
