@import 'media-blender';
@import '@eightshift/frontend-libs/styles/index.scss';

:root {
	--es-input-border-color: var(--global-colors-es-ebb);
	--es-input-disabled-background-color: var(--global-colors-es-alto);
	--es-input-readonly-background-color: var(--global-colors-es-alto);
	--es-input-spacing: 10px;
	--es-input-height: 42px;
	--es-input-focus-border-color: var(--global-colors-es-matisse);
	--es-input-transition-timing: ease-in-out;
	--es-input-transition-duration: 0.3s;

	--es-grid-spacing: 10px;
}

@mixin input-styles($loadReadonly: 'true') {
	width: 100%;
	border: 1px solid var(--es-input-border-color);
	cursor: text;
	background-color: transparent;
	height: var(--es-input-height);
	padding: 0 var(--es-input-spacing);
	border-radius: 0;
	transition: {
		property: border-color;
		timing-function: var(--es-input-transition-timing);
		duration: var(--es-input-transition-duration);
	}

	&:focus {
		outline: none;
		box-shadow: none;
		border-color: var(--es-input-focus-border-color);
	}

	&:disabled {
		cursor: default;
		background-color: var(--es-input-disabled-background-color);
	}

	@if ($loadReadonly == 'true') {
		@include input-styles-read-only;
	}
}

@mixin input-styles-read-only {
	&:read-only {
		background-color: var(--es-input-readonly-background-color);
	}
}
