/**
 * This is the main entry point for Admin styles used for the `WordPress admin`.
 * File names must follow naming convention to be able to run dynamically.
 *
 * `src/blocks/custom/block_name/block_name-admin.scss`.
 *
 * Usage: `WordPress admin`.
 *
 */

// Globals.
@import './parts/admin-theme-colors';
@import './parts/shared';

// Find all components and require component_name-admin.scss inside it.
@import './../../components/*/*-admin.scss';

// Additional variables.
:root {
	--global-es-radius-24: 1.5rem;
	--global-es-radius-20: 1.25rem;
	--global-es-radius-16: 1rem;
	--global-es-radius-12: 0.75rem;
	--global-es-radius-8: 0.5rem;
}
