/* Eightshift UI components */
@import '@eightshift/ui-components/dist/assets/wp-overrides/replace-fonts.css';
@import '@eightshift/ui-components/dist/assets/style-admin.css';

/* ES Utils styles */
@import 'tailwindcss' prefix(esf);
@import '../../../../tailwind.css';

/* Admin settings page layout fixes */
/* .eightshift-forms_page_es-settings-global,
.toplevel_page_es-forms,
.admin_page_es-settings {
	& #wpbody-content {
		padding-block-end: 0;

		& > .notice {
			display: none;
		}
	}

	& #wpfooter {
		display: none;
	}
} */
