/**
 * This is the main entry point for Admin styles used for the `WordPress admin`.
 * File names must follow naming convention to be able to run dynamically.
 *
 * `src/blocks/custom/block_name/block_name-admin.scss`.
 *
 * Usage: `WordPress admin`.
 *
 */

@import './../../../../assets/styles/parts/shared';

// Find all components and require component_name-admin.scss inside it.
@import './../../components/*/*-admin.scss';

// Create a color scheme for the WP admin.
.admin-color {
	&-fresh { // default
		--global-colors-es-matisse: #2271B1;
		--global-colors-es-matisse-50: #2271B180;
		--global-colors-es-matisse-30: #2271B133;
		--global-colors-es-matisse-10: #2271B11A;
		--global-colors-es-matisse-05: #2271B10D;
		--global-colors-es-blumine: #135E96;
	}

	&-light {
		--global-colors-es-matisse: #0073AA;
		--global-colors-es-matisse-50: #0073AA80;
		--global-colors-es-matisse-30: #0073AA33;
		--global-colors-es-matisse-10: #0073AA1A;
		--global-colors-es-matisse-05: #0073AA0D;
		--global-colors-es-blumine: #0096DD;
	}

	&-modern {
		--global-colors-es-matisse: #3858E9;
		--global-colors-es-matisse-50: #3858E980;
		--global-colors-es-matisse-30: #3858E933;
		--global-colors-es-matisse-10: #3858E91A;
		--global-colors-es-matisse-05: #3858E90D;
		--global-colors-es-blumine: #183AD6;
	}

	&-blue {
		--global-colors-es-matisse: #4796B3;
		--global-colors-es-matisse-50: #4796B380;
		--global-colors-es-matisse-30: #4796B333;
		--global-colors-es-matisse-10: #4796B31A;
		--global-colors-es-matisse-05: #4796B30D;
		--global-colors-es-blumine: #096484;
	}

	&-coffee {
		--global-colors-es-matisse: #9D816B;
		--global-colors-es-matisse-50: #9D816B80;
		--global-colors-es-matisse-30: #9D816B33;
		--global-colors-es-matisse-10: #9D816B1A;
		--global-colors-es-matisse-05: #9D816B0D;
		--global-colors-es-blumine: #46403C;
	}

	&-ectoplasm {
		--global-colors-es-matisse: #6E5395;
		--global-colors-es-matisse-50: #6E539580;
		--global-colors-es-matisse-30: #6E539533;
		--global-colors-es-matisse-10: #6E53951A;
		--global-colors-es-matisse-05: #6E53950D;
		--global-colors-es-blumine: #413256;
	}

	&-midnight {
		--global-colors-es-matisse: #69A8BB;
		--global-colors-es-matisse-50: #69A8BB80;
		--global-colors-es-matisse-30: #69A8BB33;
		--global-colors-es-matisse-10: #69A8BB1A;
		--global-colors-es-matisse-05: #69A8BB0D;
		--global-colors-es-blumine: #4F7D8B;
	}

	&-ocean {
		--global-colors-es-matisse: #738E96;
		--global-colors-es-matisse-50: #738E9680;
		--global-colors-es-matisse-30: #738E9633;
		--global-colors-es-matisse-10: #738E961A;
		--global-colors-es-matisse-05: #738E960D;
		--global-colors-es-blumine: #627C83;
	}

	&-sunrise {
		--global-colors-es-matisse: #CF4944;
		--global-colors-es-matisse-50: #CF494480;
		--global-colors-es-matisse-30: #CF494433;
		--global-colors-es-matisse-10: #CF49441A;
		--global-colors-es-matisse-05: #CF49440D;
		--global-colors-es-blumine: #BE3631;
	}
}
