/**
 * This is the main entry point for Block Editor blocks styles used for the `WordPress admin editor`.
 * File names must follow naming convention to be able to run dynamically.
 *
 * Usage: `WordPress admin editor for components that don't get disabled from admin`.
 *
 */

// Globals.
@import './../../../../assets/styles/parts/shared';

@import '@eightshift/frontend-libs/styles/es-utility-classes.scss';
@import '@eightshift/frontend-libs/styles/es-component-styles.scss';

// Hack for geo modal for select dropdown to work.
.es-geolocation-modal {
	z-index: 1;
}
