name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpstan:
    name: PHP Static code analysis using PHP - ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3' ]
    steps:
      - name: PHP Static code analysis
        uses: infinum/eightshift-deploy-actions-public/.github/actions/lint/php-stan@main
        with:
          PHP_VERSION: ${{ matrix.php }}
          PROJECT_PATH: '.'

  phpcs:
    name: PHP check coding standards using PHP - ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.3' ]
    steps:
      - name: PHP check coding standards
        uses: infinum/eightshift-deploy-actions-public/.github/actions/lint/php-cs@main
        with:
          PHP_VERSION: ${{ matrix.php }}
          PROJECT_PATH: '.'

  lint:
    name: Lint assets JS and CSS using Node version - ${{ matrix.node }}
    runs-on: ubuntu-latest
    needs: phpcs
    strategy:
      fail-fast: false
      matrix:
        node: [ '23.1' ]
    steps:
      - name: Lint assets
        uses: infinum/eightshift-deploy-actions-public/.github/actions/lint/assets@main
        with:
          NODE_VERSION: ${{ matrix.node }}
          PROJECT_PATH: '.'
          USE_BUN: true
